<%- include('header.html')%>
		<%- include('aside.html') %>
						<form action="/survey/save" class="form-horizontal" method="post" enctype='application/json'>
							<input type="hidden" name="id" id="id" value="<%= survey._id %>">
							<% if(survey.questions[0].answers.length > 0) { %>
							<div class="form-group">
								<p class="text-warning">该问卷目前已有数据，修改后将清空所有已收集数据</p>
							</div>
							<% } %>
							<div class="form-group">
								<input type="text" class="form-control text-center" name="title" id="title" value="<%= survey.title %>">
							</div>
							<div class="form-group">
								<textarea type="text" class="form-control" name="summary" id="summary"><%= survey.summary %></textarea>
							</div>
							<div class="quesList">
								<!-- 问题列表 -->
								<% var question = survey.questions, len = question.length;
								if(len) { %>
									<% for(var i=0; i<len; i++) { %>
									<div class="oneQues eidtQues">
									<h3><%= i+1 %>、<%= question[i].quetitle %><i>*</i>
										<input type="hidden" name="questions[<%= i %>][quetitle]" data-id="<%= i %>" value="<%= question[i].quetitle %>">
									</h3>
									<h4><%= question[i].describe %>
										<input type="hidden" name="questions[<%= i %>][describe]" value="<%= question[i].describe %>">
									</h4>
									<input type="hidden" name="questions[<%= i %>][quetype]" value="<%= question[i].quetype %>">
									<% var opt = question[i].options, optLen = opt.length, optionStr = ""; %>
									<% switch(question[i].quetype){ 
										case 'radio':
											for (var j = 0; j < optLen; j++) { 
									%>
											<p><span class="glyphicon glyphicon-record"aria-hidden="true"></span><%= opt[j] %></p>
									<%		if (j < optLen - 1) optionStr += opt[j] + "-"
												else optionStr += opt[j]
											}
											break;
										case 'checkbox':
											for (var j = 0; j < optLen; j++) {  
									%>
											<p><span class="glyphicon glyphicon-unchecked"aria-hidden="true"></span><%= opt[j] %></p>
									<%		if (j < optLen - 1) optionStr += opt[j] + "-"
												else optionStr += opt[j]
											}
											break;
										case 'sLine':
									%>
											<input type="text" class="form-control" readonly>
									<%
											break;
										case 'mLine':
									%>
											<textarea type="text" class="form-control" readonly></textarea>
									<%
											break;
										default:
									} %>
									<input type="hidden" name="questions[<%= i %>][options]" value="<%= optionStr %>">
									</div>
									<% } %>
								<% } %>
							</div>
							<button type="submit" class="btn btn-primary center-block">保存</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<script src="/js/newsurvey.js"></script>
<%- include('footer.html')%>