<%- include('header.html') %>
		<h1><%= title %></h1>
		<div class="container">
			<form action="/survey/submit" class="form-horizontal" method="post" enctype='application/json'>
				<input type="hidden" name="id" id="id" value="<%= survey._id %>">
				<div class="form-group">
					<h2 class="text-center"><%= survey.title %></h2>
				</div>
				<div class="form-group">
					<h3><%= survey.summary %></h3>
				</div>
				<div class="quesList">
					<!-- 问题列表 -->
					<% var question = survey.questions, len = question.length;
					if(len) { %>
						<% for(var i=0; i<len; i++) { %>
					<div class="oneQues">
						<h3><%= i+1 %>、<%= question[i].quetitle %><i>*</i></h3>
						<h4><%= question[i].describe %></h4>
						<div class="form-group">
						<% var opt = question[i].options, optLen = opt.length; %>
						<% switch(question[i].quetype){ 
							case 'radio':
								for (var j = 0; j < optLen; j++) { 
						%>
								<div class="radio">
									<label>
										<input type="radio" name="questions[<%= i %>][answers]" value="<%= opt[j] %>"><%= opt[j] %>
									</label>
								</div>
						<%		}
								break;
							case 'checkbox':
								for (var j = 0; j < optLen; j++) {  
						%>
								<div class="checkbox">
									<label>
										<input type="checkbox" name="questions[<%= i %>][answers]" value="<%= opt[j] %>"><%= opt[j] %>
									</label>
								</div>
						<%		}
								break;
							case 'sLine':
						%>
								<input type="text" name="questions[<%= i %>][answers]" class="form-control" placeholder="请输入您的答案">
						<%
								break;
							case 'mLine':
						%>
								<textarea name="questions[<%= i %>][answers]" class="form-control" placeholder="请输入您的答案"></textarea>
						<%
								break;
							default:
						} %>
						</div>
					</div>
						<% } %>
					<% } %>
				</div>
				<% if(user) { %>
					<button type="submit" class="btn btn-primary" disabled="disabled">提交</button>
					<p class="text-warning">您目前处于预览状态，无法提交问卷</p>
				<% } else { %>
					<button type="submit" class="btn btn-primary">提交</button>
				<% } %>
			</form>
		</div>
<%- include('footer.html') %>